<footer class="bg-dark text-center py-4">
    <div class="container">
        <div class="row">
            <div class="col-md-6 mb-3 text-start">
                <h5>Contato</h5>
                <p>Endereço: Rua Exemplo, 123, Rio de Janeiro, RJ</p>
                <p>Telefone: (21) 1234-5678</p>
                <p>Email: contato@act.edu.br</p>
            </div>
            <div class="col-md-6 mb-3 text-end">
                <p class="mt-4">Siga-nos nas redes sociais:</p>
                <a href="https://www.instagram.com" target="_blank" class="text-light mx-2">
                    <i class="fab fa-instagram fa-2x"></i>
                </a>
                <a href="https://www.facebook.com" target="_blank" class="text-light mx-2">
                    <i class="fab fa-facebook-f fa-2x"></i>
                </a>
                <a href="https://www.youtube.com" target="_blank" class="text-light mx-2">
                    <i class="fab fa-youtube fa-2x"></i>
                </a>
                <a href="https://web.whatsapp.com/" target="_blank" class="text-light mx-2">
                    <i class="fab fa-whatsapp fa-2x"></i>
                </a>
            </div>
        </div>
    </div>
    <p class="mt-4 text-center">&copy; 2024 Pisco  - Escola de Python do Pisco. Todos os direitos reservados.</p>
</footer>

<!-- Scripts -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.0.6/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
